body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:darkgrey;
  }
  .grid-item-lab li:first-child{
    list-style-type: none;
    margin-bottom: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
  }
  .grid-item-lab {
    grid-column: 1/7;
  }
  .grid-item-studio {
    grid-column: 7/13;
  }