/* Flex Box Example */

section {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.column {
  margin: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

  
html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', sans-serif;
  padding: 10px;
  background:rgb(20, 17, 20);
}

.column {
  padding: 40px 0;
  background-color: lightgrey;
  text-align: center;
  border: 2px solid grey;
}

/* CSS Grid Example */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.css-grid {
  margin-bottom: 20px;
}

.item-span {
  background-color: thistle;
  height: 100px;
}

.whole {
  grid-column: 1/13;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.half {
  grid-column: 1/7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.third {
  grid-column: 5/9;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fourth {
  grid-column: 1/4;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.green {
  color: greenyellow;
}

.white {
  color: whitesmoke;
}

.resources li a {
  color: white;
}

.project-1{
  height: 100%;
  grid-column: 1/12;
  background-color: honeydew;
}